# Dependências
node_modules/
.vscode/
.idea/
.DS_Store

# Strapi Build & Cache (Gerados automaticamente)
.cache/
build/
dist/

# Banco de dados local (SQLite - não suba o banco de dev)
.tmp/
data/
database.db

# Variáveis de Ambiente (CRÍTICO: Contém senhas do banco)
.env
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads Locais (Geralmente não queremos subir fotos de teste do PC)
public/uploads/
!public/uploads/.gitkeep

# Arquivos de Dump do banco (se houver)
dump.json